.nums {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 28px Arial, sans-serif;
}
