@media only screen and (min-width: 420px) {

  .sliders {
    width: 70%;
  }

  .eLabel {
    width: 18%;
    font-size: 20px;
  }

  .statusNums {
    width: 12%;
  }

  .slider input[type="range"] {
    margin: 7px 0;
  }

  .slider input[type="range"] {
    height: 30px;
  }

  .slider input[type="range"]::-webkit-slider-runnable-track {
    height: 30px;
  }

  .slider input[type="range"]::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    box-shadow: -1015px 0 0 1000px #e4542f, inset 0 0 0 3px #e4542f;
  }

  .slider input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: -1015px 0 0 1000px #e4542f, inset 0 0 0 3px #e4542f;
  }

  .nums {
    width: 40px;
    height: 40px;
    padding: 5px 6px;

    background: #fff;
    border: 3px solid #666;
    color: #666;
    text-align: center;

    font: 20px Arial, sans-serif;
  }

  #content {
    margin: 36px 0;
  }

  #passwd-helper {
    margin-top: 12px;
  }

  #generated-passwd-container {
    width: 100%;
    box-sizing: border-box;

    margin-top: 35px;

    display: flex;
    flex-flow: row nowrap;
  }

  .form__group {
    padding: 10px 0 0;
    margin: 10px 0;
    width: 60%;
  }

  #clearBtn {
    width: 15%;
  }

  #generateBtn {
    width: 25%;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 5px solid #fff;
    border-radius: 16px;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .form__field::placeholder {
    color: transparent;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.4rem;
    cursor: text;
    top: 30px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.6s;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
  }

  .form__field:focus {
    border-image: linear-gradient(to right, #c7c7c7, #38ef7d);
    border-image-slice: 1;
  }

  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.3s;
    font-size: 1.3rem;
    color: #c7c7c7;
  }

  button.btn2 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-box-shadow: 0 0 30px 0 rgba(247, 149, 29, 0.5);
    -moz-box-shadow: 0 0 30px 0 rgba(247, 149, 29, 0.5);
    box-shadow: 0 0 30px 0 rgba(247, 149, 29, 0.5);
  }

  button.btn2 > span {
    background-color: #f5a700;
    display: block;
    height: 6px;
    border-radius: 3px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    top: 50%;
    margin-top: -3px;
    left: 6px;
    width: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
  }

  button.btn2 > span span {
    display: block;
    background-color: #ed7f00;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: absolute;
    left: 0;
    top: 0;
  }

  button.btn2 > span.left {
    transform: rotate(45deg);
    transform-origin: center;
  }

  button.btn2 > span.left .circle-left {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 0;
  }

  button.btn2 > span.left .circle-right {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 26px;
  }

  button.btn2 > span.right {
    transform: rotate(-45deg);
    transform-origin: center;
  }

  button.btn2 > span.right .circle-left {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 0;
  }

  button.btn2 > span.right .circle-right {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 26px;
  }

  button.btn2:hover > span {
    background-color: #2faee0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  button.btn2:hover > span span {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: #008ac9;
  }

  button.btn2:hover > span.left .circle-left {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 26px;
  }

  button.btn2:hover > span.left .circle-right {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 0;
  }

  button.btn2:hover > span.right .circle-left {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 26px;
  }

  button.btn2:hover > span.right .circle-right {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 0;
  }

  .btn {
    letter-spacing: 0.1em;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    width: 100%;

    border-radius: 8px;
  }

  .effect01 {
    border: 3px solid #000;
  }

  .effect01:hover {
    border: 3px solid #666;
  }

  #header nav a:before {
    font-size: 1.5em;
  }

  #header nav li {
    width: 5.3em;
  }

  #passwd {
    width: 70%;
    font-size: 18px;
  }

  #helper-p {
    width: 80%;
    font-size: 18px;
  }

  #hidBtn {
    width: 10%;
    font-size: 14px;
  }

  i {
    font-size: 1.8rem;
  }

  #copyPasswd {
    width: 20%;
    box-sizing: border-box;
    margin-left: 15px;
    font-size: 16px;
  }

  #copyHelper {
    width: 20%;
    box-sizing: border-box;
    margin-left: 15px;
    font-size: 16px;
  }
}
