.slider {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
.slider input[type="range"] {
    outline: 0;
    border: 0;
    border-radius: 100px;
    width: 100%;
    max-width: 100%;
    margin: 16px 0;
    transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .slider input[type="range"] {
        overflow: hidden;
        height: 38px;
        -webkit-appearance: none;
        background-color: #ddd;
    }
    .slider input[type="range"]::-webkit-slider-runnable-track {
        height: 38px;
        -webkit-appearance: none;
        color: #444;
        transition: box-shadow 0.2s ease-in-out;
    }
    .slider input[type="range"]::-webkit-slider-thumb {
        width: 38px;
        -webkit-appearance: none;
        height: 38px;
        cursor: ew-resize;
        background: #fff;
        box-shadow: -1020px 0 0 1000px #e4542f, inset 0 0 0 3px #e4542f;
        border-radius: 100%;
        transition: box-shadow 0.2s ease-in-out;
        position: relative;
    }
    .slider input[type="range"]:active::-webkit-slider-thumb {
        background: #fff;
        box-shadow: -1020px 0 0 1000px #e4542f, inset 0 0 0 3px #e4542f;
    }
}
.slider input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}
.slider input[type="range"]::-moz-range-track {
    background-color: #9a905d;
}
.slider input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}
.slider input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}
